
##########################################################################################
#                                                                                        #
#   Based on that .env.template create your .env file that contains sensitive data,      #
#   after that you may run docker compose file to run application as a stack             #
#                                                                                        #
##########################################################################################

# docker compose
ENVIRONMENT=

# Frontend
FAST_REFRESH=
REACT_APP_API_BASE_URL=

# Backend
ORIGIN=
DATABASE_URL=
JWT_KEY=

# RabbitMQ
RABBITMQ_REQUEST_QUEUE=
RABBITMQ_URL=

# Calculation module (uses only rabbitmq data)
