
##########################################################################################
#                                                                                        #
#   Based on that .env.template create your .env file that contains sensitive data,      #
#   after that you may run docker compose file to run application as a stack             #
#                                                                                        #
##########################################################################################

# docker compose
# dev/prod (defines which dockerfile to use)
ENVIRONMENT=

# Frontend
# true/false (valid only for runnig locally via npm run start (quick refresh after code change))
FAST_REFRESH=
# http(s)://(domain):(port)/api (sets adress for frontend api calls)
REACT_APP_API_BASE_URL=

# Backend
# http(s)://(domain):(port) (sets origin for cors policy)
ORIGIN=
# true/false (sets secure option for cookies passing)
SECURE=
DATABASE_URL=
JWT_KEY=

# RabbitMQ
RABBITMQ_REQUEST_QUEUE=
RABBITMQ_URL=

# Calculation module (uses only rabbitmq data)
